
:root {
  --primary-color: #21352d;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  width: 100%;
}

.website-image {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

header, footer {
  padding: 1rem 0;
  text-align: center;
  background-color:  #69DC9E;
  color: white;
}


h1, h2, h3, p {
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

h2{
  border-radius: 25px 25px 55px 0px ;
}

.name {
  font-size: 20px;
}
.card-view {
  display: grid;
  margin: 40px 0;

}

.card {
  background-color: #e4fff0;
  border-radius: 25px ;
}

.content {
  padding: 30px 10px;
  
}

.title {
  padding: 10px;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
}

.website {
  margin-bottom: 20px;
}

