@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
/*INDEX.HTML*/
body {
    margin: auto;
}
header {
    background-color: #e26d00;
    display: grid;
    grid-template-columns: 200px auto;
    
}
#nav-logo {
    max-width: 250px;
    padding: 5px 0;
    
}
header a {
    text-decoration: none;
    color: #ffffff;
    font-family:  'Oxygen', sans-serif;
    font-size: 1.6em;
}
header a:hover {
    color: #ffd86d;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#home-grid h1, h2 {
    grid-column: 2/4;
    font-family:  'Oxygen', sans-serif;
    text-align: center;
}
h2 {
    font-size: 2em;
}
#home-grid p{
    grid-column: 2/4;
    font-family: "Open Sans";
    text-align: justify;
    font-size: 1.2em;
}
#home-grid img{
    grid-column: 2/4;
    justify-self: center;
}
footer {
    display: grid;
    justify-content: space-around;
    background-color: #994a00;
    flex-direction:row;
    align-items: center;
    height: 90px;
    margin-top: 35px;
}
footer p, footer a {
    color: white;
    font-family:  'Oxygen', sans-serif;
    text-decoration: none;
    font-size: 0.8em;
}
/*TARGET-AUDIENCE.HTML*/

#t-audience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#t-audience h1, h2 {
    grid-column: 2/4;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    margin-top:0.7em;
}

#t-audience p{
    grid-column: 1/5;
    font-family: "Arial";
    text-align: justify;
    font-size: 1.2em;
    padding: 30px 40px;
    line-height: 30px;
}

section img{
    max-width: 300px;
    max-height: auto;
    
}
#persona1, #persona2, article {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc{
    display: flex;
}
.desc p {
    padding: 0px;
    margin: 0px;
}
hr {
    border-top: 3px solid#ffae00 ;
    grid-column: 2/4;
    width: 100%;
} 

/*DESIGN.HTML*/
#design-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#design-grid h1, #design-grid h2, #design-grid h3, #design-grid h4, #design-grid h5 {
    grid-column: 2/4;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    padding: 10px 0;
}

#design-grid p{
    grid-column: 2/4;
    font-family: "Arial";
    font-size: 1.2em;
    padding: 20px 0;
    line-height: 30px;
    text-align: center;
}

#design-grid h5 {
    font-size: 1.5em;
}


#design-grid table{
    grid-column: 2/4;
    font-family: "Arial";
    font-size: 1.2em;
    padding: 20px 0;
    line-height: 30px;
    text-align: center;
}
#primary-color {
    background-color:  #e26d00;
    color: white;
    
}
#secondary-color {
    background-color: #ffffff;
    
    
}

#accent-color1 {
    background-color: #994a00;
    color: white;
    
}
#accent-color2 {
    background-color:  #ffd86d;
    
    
}

td{
    border: 2px solid #000000;
}

table {
    grid-column: 2/4;
}

#bkp {
    grid-column: 2/4;
    background-color:  #994a00;
    color: #ffffff;
    border-radius: 25px;
}
#bkp p {
    padding:18px;
}



