

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}
#logo{
    width: 300px;
}
a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    height: 130px;
}

.navbar {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 2;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 0rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #4f23ff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/4;
    grid-row: 1/2;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 2.5rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #4c00ff;
}

.nav-logo {
    font-weight: 500;
}
.media{
    grid-column: 4/5;
    margin-right:40px;
}

.media img{
    width: 30px;
}
.date{
    grid-row: 2/3;
    grid-column: 1/5;
    text-align: center;
    background-color: #4c00ff;
    margin-bottom: 0;
    margin-left: 0;
    padding: 5px 0;
}
.date p {
    font-size: 14px;
    margin:0;
    color: #E2E8F0;
}