@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 8.7rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0px 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0px;
        z-index: 5;
    }
    .navbar{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 75% 25%;
        height: 120px
    }
    .media{
        grid-column: 2/3;
    }
    .media img{
        width: 25px;
    }
    .date{
        grid-row: 2/3;
        grid-column: 1/4;
        text-align: center;
        font-size: 12px;
    }
    #today{
        font-size: 16px;
        padding-top: 0px;
    }

    #logo{
    width: 250px;
    padding-left: 10px;
    }
    .nav-item {
        margin: 2.5rem 0em;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        grid-column: 3/4;
    }
    .bar {
        display: block;
        width: 30px;
        height: 4px;
        margin-right: 30px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0%;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 400px;
        align-items: center;
    }
    footer #location{
        margin:90px 0px 40px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    main div{
        height:300px;
    }
    main #join{
        display: none;
    }
    #class3 {
        display: none;
    }
    #banner {
        height: 40px;
        text-align: center;
    }
        
      #banner p {
        font-size: 16px;
        position: relative;
        padding: 7px 0 2px 0;
        color:white;
        animation: none;
        z-index: 3;
        bottom:0;
        text-align: center;
      }

      #joinus{
        height: 40px;
        width: 30%;
        border-radius: 12px;
        position: absolute;
        top: 80%;
        right: 35%;
        background-color:#b23462;
    }
    #joinus p{
        font-size: 25px;
        padding: 5px;
        font-weight: bold;
    }
    #weather{
        text-align: center;
        font-family: Arial, sans-serif;
        color: #333;
        border-radius: 20px;
        background-color: #dadada;
    }
    #weather p{
        font-size: 15px;
    }
    #wimage {
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
    }
    #locat {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #temperature{
        font-size: 10px;
    }
    
    #event{
        height: 400px;
    }
    .dislazy p {
        margin: 8px;
        font-size: 25px;
      }
    .dislazy img {
    width: 700px;
    filter: none;
    transition: all 1s ease;
  }
    .dislazy img:hover{
        filter: none;
    }

    #joingrid{
display: flex;
flex-direction: column;
margin: 20px 0px;
min-height: 600px;
    }
    #joingrid form div{
      height: auto;
  }
    #joingrid #table-wrapper{
      margin-top: 50px;
      max-height: 300px;
      margin-bottom: 70px;
  }
    #thjoinwrapper{
        grid-column: 1/5;
    }
    #thjoinwrapper img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-bottom: 20px;
    }
    #thjoin{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
       
    }
      form {
        margin: 0;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 15px;
        margin-bottom: 5px;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 20px;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 16px;
      }
      
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="tel"]:focus,
      textarea:focus {
        outline: none;
        border-color: #2699FB;
        box-shadow: 0 0 10px #2699FB;
      }
      
      input[type="submit"] {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #2699FB;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }
      
      input[type="submit"]:hover {
        background-color: #0077E0;
      }
      select {
        font-size: 18px;
        padding: 12px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 20px;
      }
    
      table {
        border-collapse: collapse;
        margin: 0 auto;
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        color: #444;
        border: 2px solid #5b5b5b;
      }
      
      th {
        background-color: #8d6cff;
        color: #fff;
        padding: 12px;
        font-weight: bold;
        text-align: left;
      }
      
      td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      
      tr:hover {
        background-color: #e6e6ff;
      }
      
      td:first-child {
        font-weight: bold;
      }
      
      td:last-child {
        text-align: center;
      }
      
      .cost {
        color: #8d6cff;
        font-weight: bold;
      }
      
      .benefits {
        font-style: italic;
      }
    
    
}
