@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        right: 100%;
        top: 8.7rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0px 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        right: 0px;
        z-index: 5;
    }
    html,body{
      overflow-x: hidden;
    }
    .navbar{
        display:grid;
        grid-template-columns: 35% 15% 50%;
        grid-template-rows: 75% 25%;
        height: 120px
    }
    .nav-link:hover {
      color: #4430b4;
      padding: 5px 5px 10px 5px;
     }
     .nav-link::before {
      display: none;
      transition: 0.2s ease-in-out; 
     }
     
     .nav-link:hover::before {
       display: none;
     }
     
    .media{
        grid-column: 2/3;
    }
    .media img{
        width: 25px;
    }
    .date{
        grid-row: 2/3;
        grid-column: 1/4;
        text-align: center;
        font-size: 12px;
    }
    #today{
        font-size: 16px;
        padding-top: 0px;
    }
    #logo{
    width: 250px;
    padding-left: 10px;
    }
    .nav-item {
        margin: 2.5rem 0em;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        grid-column: 3/4;
        padding-right: 15px;
    }
    .bar {
        display: block;
        width: 30px;
        height: 4px;
        margin-right: 30px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0%;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 400px;
        align-items: center;
        font-size: 16px;
    }
    footer #location{
        margin:90px 0px 40px;
    }
    footer #pres{
      display: grid;
      grid-template-columns: 28% 72%;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    main div{
        height:300px;
    }
    #contactsite {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      grid-column: 1/5;
      grid-row: 1/4;
      height: 1000px;
      background-color: #fdf4ff;
      border-radius: 20px;
      border-style: inset;
      border-color: #e8c4f3;
      border-width: 5px;
      padding: 30px 28px;
    }
    .contact-form {
    width: 100%;
    }
    .contact-form h2{
      padding-left: 4%;
      padding-bottom: 3%;
    }
    .contact-info {
      margin-top: 40px;
      width: 100%;
      text-align: center;
    }
    .contact-info p,li{
      font-size: 20px;
    }
    main #join{
        display: none;
    }
    #class3 {
        display: none;
    }
    #banner {
        height: 40px;
        text-align: center;
    }
    #spot {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    #spotlight1, #spotlight2 {
      flex: 1;
    }
    
    #spotlight3 {
      display: none;
    }
      #banner p {
        font-size: 16px;
        position: relative;
        padding: 7px 0 2px 0;
        color:white;
        animation: none;
        z-index: 3;
        bottom:0;
        text-align: center;
      }


      #joinus{
        width: 33%;
        border-radius: 12px;
        position: absolute;
        bottom:0;
        font-size: 15px;
        padding: 18px 10px;
        left:50%;
        background-color: #b23462;
        transform: translate(-50%, -50%);
    }
    #joinus:hover{
display: none;
    }
    #news{
      grid-column: 2/4;
      grid-row: 3/4;
      background-color: #F7EBFF;
      font-family: Arial, sans-serif;
      color: black;
      border-radius: 20px;
      border-style: inset;
      border-width: 7px;
      border-color:#d8adff;
      min-height: 390px;
    }
    #news h4{
      text-align: center;
      margin-top: 16px;
      font-size: 26px;
    }
    #news p{
      text-align: justify;
      padding: 22px 20px 15px 20px;
      font-size: 18px;
    }
    #news #news2{display: none;}
    #weather{
        text-align: center;
        font-family: Arial, sans-serif;
        color: #ffffff;
        border-radius: 20px;
        background-color: #5A4AE3;
    }
    #weather p{
        font-size: 20px;
      margin-bottom: 2px;
    }
    #weather hr{
      background-color: #eedbff;
      width: 55%;
      border: none;
      height: 2px;
      margin: 0 auto;
      text-align: center;
    
    }
    #wimage {
        width: 80px;
        height: 80px;
        margin: 0 auto 20px;
  
    }
    #weather #locat {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
      
    }
    #weather #temperature{
        font-size: 40px;
        color: #ffee39;
    }

    #hero #wel {
      color: #ffffff;
      font-size: 30px;
      padding-top: 15px;
      text-shadow: 4px 4px 10px rgb(50, 51, 54);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
    #event{
        min-height: 300px;
    }
    #event img {
      max-height: 40%;
      object-fit: cover;
    }
    .dislazy p {
        margin: 8px;
        font-size: 17px;
      }
    .dislazy img {
    width: 100%;
    filter: none;
    transition: all 1s ease;
    margin-bottom: 10px;
  }
    .dislazy img:hover{
        filter: none;
    }
    #joingrid {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 10px 0px 20px;
      height: 100%;
      justify-content: space-between;
    }
    
    #joingrid form div {
      height: auto;
    }
    #joingrid #form_wrapper{
      height: 900px;
      margin-bottom: 40px;
    }
    #joingrid #form_wrapper form{
      height: 100%;
    }
    #joingrid #table-wrapper {
      margin-top: 10px;
      padding-top: 10px;
      height: 800px;
    }
    #joingrid table {
      font-size: 20px;
      height: 100%;
    }
  /*Thank you Page*/
    #thjoinwrapper{
        grid-column: 1/5;
    }
    #thjoinwrapper img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-bottom: 20px;
    }
    #thjoin{
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
       
    }#factos li{
      list-style:disc ;
      margin-left: 10px;color: rgb(78, 55, 131);
      font-size: 16px;
      margin-bottom: 10px;
      }
      #factos :last-child{
        margin-bottom: 40px;
      }
      form {
        margin: 0;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 15px;
        margin-bottom: 5px;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 20px;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 16px;
      }
      
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="tel"]:focus,
      textarea:focus {
        outline: none;
        border-color: #2699FB;
        box-shadow: 0 0 10px #2699FB;
      }
      
      input[type="submit"] {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #2c1d7c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }
      
      input[type="submit"]:hover {
        background-color: #4430b4;
      }
      select {
        font-size: 18px;
        padding: 12px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 20px;
      }
    
      table {
        border-collapse: collapse;
        margin: 0 auto;
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        color: #444;
      }
      #business-directory{
        width: 100%;
      }
      #business-directory table {
        font-size: 10px;
        width: 100%;
      }
      
      #business-directory table td {
        height: 80px;
      }
      
      th {
        background-color: #463cd1;
        color: #fff;
        padding: 12px;
        font-weight: bold;
        text-align: left;
      }
      
      td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      
      tr:hover {
        background-color: #e6e6ff;
      }
      
      td:first-child {
        font-weight: bold;
      }
      
      td:last-child {
        text-align: center;
      }
      
      .cost {
        color: #8d6cff;
        font-weight: bold;
      }
      
      .benefits {
        font-style: italic;
      }


}
