a{
    color: black;
}

a:hover{
    background-color: #5fe8ba;
    border-radius: 3px;
}

img{
    border-radius: 10px;
    width: 120px;
    margin: 20px 0 20px 40px;
}

header{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    font-size: 36px;
    font-family: 'Alfa Slab One', cursive;
}

h2{
    font-size:28px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

h4{
    font-size:16px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

header, footer{
    background-color: #5fe8ba;
    border-radius: 10px;
    grid-column: 2;
    width: 450px;
}


ul{
    grid-column: 2;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

li{
    line-height: 1.6;
}

main{
    font-family: 'Abril Fatface', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#name{
    grid-column: 2;
    margin: 80px 20px 20px 0px;
}

#title{
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
}

#updates{
  padding-left: 40px;
  padding-bottom: 10px;
}